.toggl-button {
  grid-area: togglButton;
  width: 32px;
  height: 30px;
  background-color: rgb(66, 66, 66);
  border: 1px solid rgb(74, 74, 74);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggl-button::before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+DQogIDxwYXRoDQogICAgZmlsbD0iI2ZmZiINCiAgICBkPSJNNDU3LjQsMjE0LjdMMTA1LjQsNi42Qzc2LjgtMTAuMywzMyw2LjEsMzMsNDcuOVY0NjRjMCwzNy41LDQwLjcsNjAuMSw3Mi40LDQxLjNsMzUyLTIwOCBDNDg4LjgsMjc4LjgsNDg4LjksMjMzLjIsNDU3LjQsMjE0LjdMNDU3LjQsMjE0Ljd6Ig0KICAvPg0KPC9zdmc+DQo=");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
}

.item-habit-info {
  grid-template-areas: "name togglButton smartAction otherAction" !important;
  grid-template-columns: 6fr auto auto auto !important;
}
